/**************************************************************************
 * GLOBAL STYLES
 *************************************************************************/

 html, body {
    font-size: 100%;
}

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    padding: 15px 50px;
    color: #555;
    -webkit-font-smoothing: antialiased;
}

a {
    color: #0f97f9;
}

* {
    margin: 0;
    padding: 0;
}

p {
    line-height: 24px;
}

p,
.list {
    margin-top: 1em;
}

.list li {
    margin-left: 1em;
    margin-top: 0.5em;
}

button {
    padding: 1em;
    font-size: 16px;
    border-radius: 0.3em;
    border: 0;
    background: #EA5548;
    color: #fff;
    font-weight: bold;
    margin-top: 2em;
}

button:hover {
    cursor: pointer;
}

/**************************************************************************
 * SITE LAYOUT
 *************************************************************************/

.site-header {
    margin: 0;
    padding: 15px 0;
}

.site-header h1 {
    margin: 0;
    padding: 0;
    font-size: 2rem;
    line-height: 2rem;
}

.site-nav {
    padding: 15px 0;
    margin-left: -15px;
    margin-bottom: 15px;
}

.site-nav > a {
    display: inline-block;
    margin-left: 15px;
}

.site-main {
    margin-bottom: 2em;
}

/**************************************************************************
 * TREE STYLES
 *************************************************************************/

.tree {
    margin-top: 1em;
}

.tree ul {
    padding-top: 20px;
    position: relative;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.tree li {
    float: left;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before, .tree li::after {
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 1px solid #ccc;
    width: 50%;
    height: 20px;
}

.tree li::after {
    right: auto;
    left: 50%;
    border-left: 1px solid #ccc;
}

/*We need to remove left-right connectors from elements without
any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
    display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child {
    padding-top: 0;
}

/*Remove left connector from first child and
right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after {
    border: 0 none;
}

/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before {
    border-right: 1px solid #ccc;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
}

.tree li:first-child::after {
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 1px solid #ccc;
    width: 0;
    height: 20px;
}

.tree li a,
.tree li .component {
    background: #c8e4f8;
    color: #000;
    border: 1px solid #94a0b4;
    padding: 2em 2.5em;
    text-decoration: none;
    font-family: arial, verdana, tahoma;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li a:hover, .tree li a:hover + ul li a {
    /* .tree li .component:hover, .tree li .component:hover+ul li .component { */
    background: #94a0b4;
    color: #000;
    border: 1px solid #555;
}

/*Connector styles on hover*/
.tree li a:hover + ul li::after,
.tree li a:hover + ul li::before,
.tree li a:hover + ul::before,
.tree li a:hover + ul ul::before,
.tree li .component:hover + ul li::after,
.tree li .component:hover + ul li::before,
.tree li .component:hover + ul::before,
.tree li .component:hover + ul ul::before {
    border-color: #94a0b4;
}

.tree li a.checked {
    background: #bada55;
}

.tree li a.on-push {
    background: #CCCED3;
    position: relative;
}

.tree li a.detached {
    background: #CCCED3;
    position: relative;
}

.tree li a.detached.checked,
.tree li a.on-push.checked {
    background: #bada55;
}

.tree li a.on-push.subscriber {
    background: #85A6E8;
}

.tree li a.on-push.checked-observable {
    background: #F4C812;
}

.tree li a.detached:before {
    position: absolute;
    content: 'Detached';
    left: -1em;
    background: white;
    border: 1px solid #77819E;
    color: #333;
    top: 0.4em;
    line-height: 24px;
    padding: 0em 0.2em;
}

.tree li a.on-push:before {
    position: absolute;
    content: 'OnPush';
    left: -1em;
    background: white;
    border: 1px solid #77819E;
    color: #333;
    top: 0.4em;
    line-height: 24px;
    padding: 0em 0.2em;
}

.tree li a.click-me {
    position: relative;
    -webkit-animation: pusate 1s infinite alternate;
    -moz-animation: pusate 1s infinite alternate;
    -animation: pusate 1s infinite alternate;
    text-shadow: 0 0 8px #ccc;
}

.tree li a.click-me:hover {
    cursor: pointer;
}

/* .tree li a.click-me:before { */
/*   position: absolute; */
/*   content: 'Click Me!'; */
/*   left: -1em; */
/*   background: white; */
/*   border: 1px solid #77819E; */
/*   color: #333; */
/*   top: 0.4em; */
/*   line-height: 24px; */
/*   padding: 0em 0.2em; */
/* } */

@-webkit-keyframes pusate {
    from {
        box-shadow: 0 0 10px #fff;
    }
    to {
        box-shadow: 0 0 20px #c00;
    }
}

@-moz-keyframes pusate {
    from {
        box-shadow: 0 0 10px #fff;
    }
    to {
        box-shadow: 0 0 20px #c00;
    }
}

@keyframes pusate {
    from {
        box-shadow: 0 0 10px #fff;
    }
    to {
        box-shadow: 0 0 20px #c00;
    }
}
