<!-- <h2>Angular 2 Demo: Zones</h2>
    
<p>This demo shows how code is executed <strong>inside</strong> Angular's zone to
ensure the framework is notified when an event has happened. It also demonstrates how
code can be executed <strong>outside</strong> Angular's zone, which causes the UI to
not update after every event tick.</p>

<p>Click the buttons below to see the code in action.</p>
<hr>
<br>
<ng-zone-demo></ng-zone-demo>
<hr>
 -->

<!-- =========================================================== -->

<h1>Angular 2 Change Detection Demos</h1>
<p>Pick one of the following:</p>
<div class="site-nav">
    <a routerLink="/default-change-detection">Default Change Detection</a>
    <a routerLink="/on-push-change-detection">OnPush Change Detection</a>
    <a routerLink="/on-push-change-detection-observables">OnPush Change Detection (Observables)</a>
    <a routerLink="/manual-change-detection">Manual Change Detection</a>
    <a routerLink="/ng-zone-progress">Check Progress </a>
</div>
<div>
    <router-outlet></router-outlet>
</div>